
div[class*="wp-block-lazyblock-reli-"] .lzb-content-controls > div:first-child .components-text-control__input{
    font-size: 24px;
    font-weight: bold;
}
div[class*="wp-block-lazyblock-reli-"] .lzb-content-controls > div:nth-child(2) .components-text-control__input{
    font-size: 15px;
    font-weight: 600;
}
 .lzb-content-title{
     display: none !important;
 }

 .block-header input{
     border: 0 !important;
 }

.lazyblocks-component-base-control.block-header .components-base-control > .components-base-control__field{
    display: grid !important;
    grid-template-columns: 60px auto 24px!important;
    grid-auto-rows: minmax(40px, auto) !important;
}
.block-header svg{
    width: 40px;
    height: 40px;
}
.block-header .modal-helper svg{
    width: 24px;
    height: 24px;
}
.block-header .modal-helper{
    opacity: .2;
}
.block-header .modal-helper:hover{
    opacity: 1;
}

div[class*="wp-block-lazyblock-reli-"] .lazyblocks-component-base-control__label,
div[class*="wp-block-lazyblock-reli-"]  .bausteine-leitfrage,
div[class*="wp-block-lazyblock-reli-"]  .lazyblocks-component-base-control__help{
    color: orangered;
    text-transform: initial;
    font-family: "Architects Daughter";
    font-size: medium;
    clear: left;
}

.modal-helper-article{
    margin: 30px;
}
.modal-helper-header{
    display: grid !important;
    grid-template-columns: 60px auto;
    margin-bottom: 20px;
}
.modal-helper-header h1{
    font-family: "Architects Daughter";
    color:#36AF78;
    line-height: normal;
    margin-top: 0;
}
.modal-helper-header .leitfrage{
    font-family: "Architects Daughter";
    color:orangered;
    line-height: normal;
    margin-top: 0;
}
.modal-helper-header svg{
     width: 40px;
     height: 40px;
}
.modal-helper-content{
    border-top: 1px solid #ccc;
}
.modal-helper-inner-content{
    margin-top: 20px;
}
.lzb-inspector-controls .is-opened > div:nth-child(2) .components-toggle-control{
    /*display: none;*/
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-btn-remove {
    top: 0px;
    /*left: -5px!important;*/
    right: -23px;
}
