
div[class*="wp-block-lazyblock-reli-"] .lzb-content-controls > div:first-child .components-text-control__input{
    font-size: 24px;
    font-weight: bold;
}
div[class*="wp-block-lazyblock-reli-"] .lzb-content-controls > div:nth-child(2) .components-text-control__input{
    font-size: 15px;
    font-weight: 600;
}
 .lzb-content-title{
     display: none !important;
 }

 .block-header input{
     border: 0 !important;
 }

 .block-header .components-base-control__field{
    display: grid !important;
    grid-template-columns: 60px auto !important;
    grid-auto-rows: minmax(40px, auto) !important;
}
.block-header svg{
    width: 40px;
    height: 40px;
}